/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 750px;
  padding: 30px;
}

.centered-header-content {
  margin: 0 auto;
  max-width: 1000px;
}

.header-content {
  border: 2px groove #1C6EA4;
  border-radius: 8px;
  margin: auto;
  width: 60%;
  padding: 30px;
}

.footer-content {
  border: 2px groove #1C6EA4;
  border-radius: 8px;
  margin: auto;
  width: 60%;
  padding: 30px;
}


